---
layout: default
---

<link href="{{site.baseurl}}/assets/css/rouge-matrix.css" rel="stylesheet"/>
<div class="page clearfix" post>
    <div
        class="left">
        <!-- Title -->
        <h1>{{page.title}}</h1>
        <!-- Post info -->
        {% include post-info.html %}

        <!-- Content -->
        <article itemscope itemtype="http://schema.org/BlogPosting">
            {{content}}
        </article>

        <!-- Comments -->
        {% if page.comment != false %}
            <hr>
            <h2 id="comments">Comments</h2>
            {% include comments.html %}
        {% endif %}
    </div>

    <aside class="right">
        {% if page.toc != false %}
            <aside class="wrap">
                <div class="side content">
                    <div>
                        CONTENT
                    </div>
                    {% include toc.html html=page sanitize=true class="content-ul" id="content-side" h_min=1 h_max=3 %}
                </div>
            </aside>
        {% endif %}
        </aside>
</div>
<!-- <script>
    /**
     * target _blank
     */
    (function () {
        var aTags = document.querySelectorAll('article a:not([id])')
        for (var i = 0; i < aTags.length; i++) {
            aTags[i].setAttribute('target', '_blank')
        }
    }());
</script>
<script src="{{ "/assets/js/pageContent.js " | prepend: site.baseurl }}" charset="utf-8"></script> -->